.idea
venv
*.pyc
media
files/uploads
config/settings_dev.py
config/settings_prod.py
.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/tags
pytest.ini
data
uploads
.env
vandelay-py.js
.envrc
db.sqlite3