{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
</head>
<body>
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://macademy.uz">
                <img src="Vector.svg" alt="" width="120" height="60">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                Men
            </a>
            <a class="navbar-item">
                Women
            </a>
            <a class="navbar-item">
                Kids
            </a>
            <a class="navbar-item">
                Customize
            </a>
            <a class="navbar-item">
                Customize
            </a>
        </div>
    </nav>
</div>
<div class="columns">
    <div class="column">
        <p class="subtitle1">Step Into Style with <br> Our Trendy
            Shoes!</p>
    </div>
    <div class="column">
        <div class="background-image is-right"><img
                src="revolt-164_6wVEHfI-unsplash__1_-removebg-preview%201.svg" alt=""></div>
    </div>
</div>
<p class="subtitle2">2023</p>
<h2 class="title">Our collections include a wide range of shoes for men, women, and children.</h2>
<button class="button1 is-danger is-outlined has-text-light">Shop Now</button>
<div class="columns">
    <div class="column">
        <img src="Rectangle%205%20(1).svg" alt="" class="title2">
    </div>
    <div class="column">
        <div class="background-image2">
            <p class="subtitle has-text-light has-text-centered">Facebook</p>
            <p class="subtitle has-text-light has-text-centered">Instagram</p>
            <p class="subtitle has-text-light has-text-centered">Twitter</p>
            <p class="subtitle has-text-light has-text-centered">YouTube</p>
        </div>
    </div>
    <div class="column">

        <div class="columns">
            <div class="column has-text-centered">
                <div class="background-image3">
                    <button class="button is-black has-text-light">Explore More --></button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="Rectangle%206.svg" alt="" class="title3">
            </div>
            <div class="column">
                <p class="subtitle3">Be your <br> Own Level</p>
            </div>
            <div class="column">
                <p class="subtitle4">The right shoes can take any outfit from basic to stylish with just <br> a few
                    steps. At
                    our shoe store, we have a wide variety of stylish <br> shoes to help you create the perfect look.
                    From
                    contemporary <br> sneakers to classic loafers, we have something to match all <br> tastes and
                    occasions. Our
                    shoes are designed to be comfortable, <br> durable, and fashionable, so you can look and feel your
                    best
                    no <br> matter what you’re wearing.</p>
            </div>
            <div class="column">
                <button class="button3">Shop Now</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">

            <p class="subtitle5">Trending in 2023</p>
            <div class="column">
                <img src="Rectangle%2013.svg" alt="" class="title4">
                <p class="subtitle6 has-text-centered">Nike Air Force</p>
                <button class="button4">Purchase Now</button>
            </div>
            <div class="column">
                <img src="Rectangle%2014.svg" alt="" class="title5">
                <p class="subtitle7 has-text-centered">Nike Air Force</p>
                <button class="button5">Purchase Now</button>
            </div>
            <div class="column">
                <img src="Rectangle%2015.svg" alt="" class="title6">
                <p class="subtitle8 has-text-centered">Nike Air Force</p>
                <button class="button6">Purchase Now</button>
            </div>
            <div class="column">
                <img src="Rectangle%2016.svg" alt="" class="title7">
                <p class="subtitle9 has-text-centered">Nike Air Force</p>
                <button class="button7">Purchase Now</button>
            </div>
        </div>
    </div>
</section>
<p class="subtitle10">Our Shoes Reviews</p>
<p class="subtitle11">Check the comments and ratings given by users</p>
<div class="columns">
    <div class="column">
        <img src="Rectangle%2021.svg" alt="" class="title8">
    </div>
    <div class="column">
        <img src="Rectangle%2022.svg" alt="" class="title9">
    </div>
    <div class="column">
        <img src="Rectangle%2024.svg" alt="" class="title10">
    </div>
</div>
<div class="columns1">
    <div class="column">
        <p class="subtitle12">Subscribe Us to get monthly voucher or <br> <span class="has-text-danger"> 25 % off</span>
        </p>
    </div>
    <div class="column">
        <p class="subtitle13">
            <input type="email" placeholder="you@company.com">
        </p>
    </div>
    <div class="column">
        <img src="ryan-plomp-jvoZ-Aux9aw-unsplash_prev_ui%201.svg" alt="" class="title14">
    </div>
    <button class="button8">
        Subscribe
    </button>
</div>
</body>
</html>